body {
background-color: baby pink;
}

.maintext {
background-color: pink;
border-radius: 25px;
border-width: 3px;
border-style: dotted;
margin: 50px;
padding: 10px;
}

#header {
text-align: center;
}

.paragraph1content {
position: absolute;
background-color: black;
color: white;
margin: 10px 500px 10px 10px;
padding: 5px;
}
